$color_primary: #FFA737;
$color_secondary: #556EED;
$color_terciary: #F7F8F9;

$variant_secondary_dark: #001061; 
$variant_secondary_light: #607AFE;
$terciary_variant: #F8F8F8;

$color_dark_grey: #202020;
$color_light_grey: #5D5F64;
