$color_primary: #FFA737;
$color_secondary: #556EED;
$color_terciary: #F7F8F9;

$brigther_variant_secondary: #071B50;
$variant_secondary_dark: #051642; 
$variant_secondary_light: #607AFE;

$terciary_variant: #F8F8F8;

$color_dark_grey: #202020;
$color_light_grey: #5D5F64;

$color_purple_yellow: linear-gradient(135deg, rgba(49, 27, 91, 1) 0%, rgba(181, 70, 87, 1) 65%, rgba(255, 156, 71, 1) 100%);
